[program:consul]
command=consul agent -config-file /etc/consul.d/consul.conf
directory={{ consul_install_dir }}
autostart=true
autorestart=true
stdout_logfile={{ consul_install_dir }}/consul.log
redirect_stderr=true