{
  "bind_addr": "{{ hostvars[inventory_hostname_short]['ansible_' ~ consul_bind_interface]['ipv4']['address'] }}",
  "bootstrap_expect": 3,
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ inventory_hostname }}",
  "server": true,
  "ui_dir": "{{ consul_ui_install_dir }}"
}
